@font-face {
    font-family: "Lato-Regular";
    src:url("fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: "Lato-Light";
    src:url("fonts/Lato-Light.ttf");
}

@font-face {
    font-family: "Lato-Bold";
    src:url("fonts/Lato-Bold.ttf");
}

@font-face {
    font-family: "Lato-Black";
    src:url("fonts/Lato-Black.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato-Light";
}

body
{
    background: silver;
}

.wrapper
{
    max-width: 1080px;
    margin: 50px auto;
    padding: 0 20px;
}

.wrapper .row
{
    display: flex;
}

.wrapper .row-1
{
    justify-content: flex-start;
}

.wrapper .row-2
{
    justify-content: flex-end;
}

.wrapper .row section
{
    background: #282828;
    border-radius: 5px;
    width: calc(50% - 40px);
    padding: 20px;
    position: relative;
    color: white;
}

.wrapper .row section::before
{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #282828;
    top: 28px;
    z-index: -1;
    transform: rotate(45deg );
}

.row-1 section::before
{
    right: -7px;
}

.row-2 section::before
{
    left: -7px;
}

.row-3 section::before
{
    right: -7px;
}

.row section .icon
{
    position: absolute;
    background: #ff7979;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    top: 13px;
}

.row section .details,
.row section .bottom
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row section .details .title
{
    font-size: 22px;
    font-weight: 600;
}

.row section p
{
    margin: 10px 0 17px 0;
}

.row section .bottom a
{
    text-decoration: none;
    background: white;
    color: black;
    padding: 10px;
    border-radius: 20px;
    font-size: 17px;
    font-weight: bold;
}

.wrapper .center-line
{
    position: absolute;
    height: 100%;
    width: 4px;
    background: #fff;
    left: 50%;
    transform: translateX(-50%);
}
